*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

.home-content {
    position: absolute;
    text-align: center;
  }
  
  .home-image {
    width: 100%;
    height: 90vh;
    /* max-height: 10%; */
    /* object-fit: cover; */
    opacity: 50%;
    max-width: fit-content;
  }

  .img-box{
    background-color: black;
  }
  
  .home-heading {
    position: absolute;
    width: 60%;
    top: 25%;
    left: 70rem;
    /* padding-left: 60%; */
    transform: translate(-50%, -50%);
    font-size: 5rem; /* Adjust the font size as needed */
    font-weight: bold;
    color: whitesmoke; /* Adjust text color as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for better visibility */
    background-color: rgb(114, 125, 56);
    border-radius: 1rem;
    padding-bottom: 5px;
    font-style: italic;

  }

  .type-heading {
    position: absolute;
    width: 60%;
    top: 70%;
    left: 70rem;
    /* padding-left: 60%; */
    transform: translate(-50%, -50%);
    font-size: 5rem; /* Adjust the font size as needed */
    font-weight: bold;
    color: whitesmoke; /* Adjust text color as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for better visibility */
    z-index: 1;
    background-color: rgb(114, 125, 56);
    border-radius: 1rem;
    padding-bottom: 5px;
    font-style: italic;

  }
  